/* VARIABLES */
$red: #f13b3b;
$gray: #f2f3f3;
$gray-2: #424851;
@mixin title(){
	font-size: 37px;
	color: $gray-2;
	font-family: 'mulibold', Arial, sans-serif;
}

@mixin img-carousel(){
	max-width: none;
	width: 344px;
	height: 344px;
	color: #fff;

}

@mixin position-img(){
	position: absolute;
	left: 40px;
	
}

@font-face {
    font-family: 'muli';
    src: url('../fonts/muli-webfont.woff2') format('woff2'),
         url('../fonts/muli-webfont.ttf') format('ttf'),
         url('../fonts/muli-webfont.woff') format('woff');  
}

@font-face {
    font-family: 'mulibold';
    src: url('muli-bold-webfont.woff2') format('woff2'),
         url('muli-bold-webfont.ttf') format('woff'),
         url('muli-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */
header{

	#top{	
		margin: 40px 0;
		
		.logo{
			font-size: 40px;
			color: $red;
			letter-spacing: -1px;
			font-weight: 900;
			font-family: 'Mulish', sans-serif;
		}

		.meniu-button{
			text-align: right;
			margin: 15px 0 0 0;

			button{
				border: none;
				background: #fff;
				font-weight: 600;
				color: $gray-2;
				font-size: 15px;

				&:hover{
				color: $red;
				}

  			&:focus{
  				outline: 0;
  			}
			}
		}
	}
}

/* ABOUT */
#about{

	.img-about{ 

		img{
		box-shadow: 45px 45px $gray;
		}
	}
	.content-about{
		margin-top: 100px;

		.title-about{
			font-size: 50px;
			color: #424851;
			margin-bottom: 24px;
			line-height: 55px;
		}

		.button-about{

			button{
				letter-spacing: -1px;
				color: #FFFFFF;
				background: $red;
				padding: 11px 40px;
				border: none;
				font-family: 'Mulibold', Arial, sans-serif;
				font-weight: bold;

				&:focus{
  				outline: 0;
  			}
			}
		}

		.text-about{
			color: $gray-2;
			font-size: 16px;
			margin-bottom: 24px;
			font-family: 'Muli', Arial, sans-serif;
		}
	}
}

/* FEATURED */
#featured{
	.owl-theme{
  font-size: 50px;
  color: $red;

  	.owl-nav{
  			button:hover{
  			background: none;
  			color: black;
  		}

  			button:focus{
  				outline: 0;
  			}
  	}
	}

	.carousel-shadow{

		&:before{
			content: "";
			position: absolute;
			top: 30%;
			left: 10%;
			right: 10%;
			width: 80%;
			height: 310px;
			background: $gray;
			z-index: -1;
		}
	}

	.title{
		@include title();
		text-align: center;
		margin: 82px 0 30px 0;
		font-weight: 900;
		animation: mover 1.5s;

		&:after{
			border-bottom: 2px solid $red;
			content: ""; /* Necesar pentru a functiona after */
	    display: block; /* Bloc*/
	    margin: 0 auto; /* Asta centreaza linia pe centru */
	    width: 3%; 	
	    margin-top: 30px;
		}
	}
	.owl-item{
    padding: 0 20px;
    color: #fff;
		.category-featured{
			@include position-img();
			font-weight: 900;
			top: 130px;
			background: $red;
			padding: 5px 12px;
			font-size: 12px;
		}

		.title-featured{
			@include position-img();
			font-weight: 900;
			font-size: 28px;
			line-height: 30px;
			top: 180px;
			right: 40px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			line-clamp: 2;
			height: 70px;
			width: 300px;
		}

		.time-featured{
			@include position-img();
			font-size: 13px;
			top: 280px;
		}
	}
}

/* MIDDLE	*/
#middle{

	.title{
		margin: 80px 0;
		text-align: center;
		font-weight: 900;
		font-size: 40px;
		color: $gray-2;
		font-family: 'Mulibold', Arial, sans-serif;
	}

	.left{

		.img-middle{
			margin-bottom: 50px;
			position: relative;

			.overlay{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				&:hover{
					animation-name: imagesOverlay;
					animation-duration: 0.5s;
					animation-fill-mode: forwards;
				}
			}
		}


		.text-middle{
			position: absolute;
			left: 260px;

			.category-middle{
				padding: 6px 11px;
				display: inline-block;
				background: $red;
				color: #fff;
				font-size: 12px;
				font-weight: 900;

				&:hover{
				background-color: #424851;
				}
			}

			.title-middle{
				font-weight: 900;
				font-size: 31px;
				color: $gray-2;
				margin: 10px 0;
				line-height: 40px;

				&:hover{
					color: $red;
				}
			}
			.ago-middle{
				color: #989da2;
			}
		}
	}
	.right{

		.card-newsletter{
			background: #f2f3f3;
			padding: 95px 40px;
			margin-bottom: 50px;

			.newsletter{
				position: relative;
				top: -50px;
				font-weight: 900;
				font-size: 20px;
				font-family: 'Mulish', Arial, sans-serif;
				color: $gray-2;
			}

			.txt-newsletter{
				position: relative;
				top: -30px;
			}

			.email-newsletter{

				&:after{
				border-bottom: 1px solid $gray-2;
				content: ""; /* Necesar pentru a functiona after */
		    display: block; /* Bloc*/
		    width: 100%;
		    margin-top: 40px;	
				}
			}

			.button-newsletter{
				position: relative;
				bottom: -10px;
				text-align: center;
				background: $red;
				padding: 14px 0;
				color: #fff;
				font-weight: 900;
				font-size: 14px;
				font-family: 'Mulish', Arial, sans-serif;
			}
		}
	}
	.topics{
			background: #f2f3f3;
			padding: 50px 40px;
			margin-bottom: 40px;

		.title-topics{
			position: relative;
			top: -20px;
			color: $gray-2;
			font-wight: 900;
			font-size: 20px;
			font-family: 'Mulish', Arial, sans-serif;
		}
		.art{
			margin-bottom: 12px;
		}
		.fashion{
			margin-bottom: 12px;
		}
		.lifestyle{
			margin-bottom: 12px;
		}
	}
	.social{
		color: #fff;
		background: $gray-2;
		padding: 40px 50px;
		.icon-social{
			margin-top: 15px;

			.fa-facebook{
				color: #3b5998;
				background: #fff;
				margin-right: 5px;
				border-radius: 27px;
			}
			.fa-pinterest{
				color: #BD081C;
				background: #fff;
				margin-right: 5px;
				border-radius: 27px;
			}
			.fa-twitter-square{
				color: #1DA1F2;
				margin-right: 5px;
				background: #fff;
			}
			.fa-instagram-square{
				background: #fff;
				color: #000;
			}
		}
	}
}

.goTop{
	position: fixed;
	padding: 12px 19px;
	background: $gray-2;
	right: 25px;
	bottom: 25px;
	color: #fff;
	opacity: 0.75;
	display:none;
}

.rotate{
	position: fixed;
	padding: 13px 15px;
	background: #f1f1f1;
	border-radius: 0 8px 8px 0;
	top: 160px;
	color: #555d66;
	border: 1px solid #ddd;

	.fas{
		animation: spin 3s infinite linear;
		&:hover{
			color:#0084ff;
		}
	}
}

#footer{
		&:before{
			border-bottom: 2px solid $gray;
			content: ""; /* Necesar pentru a functiona after */
	    display: block; /* Bloc*/
	    width: 100%;
	    margin-top: 50px;
		}
	.footer{
		font-family: 'Mulish', Arial, sans-serif;
		margin: 40px 0;
		.icon-footer{
			.fa-facebook{
				color: #3b5998;
				background: #fff;
				margin-right: 5px;
			}
			.fa-pinterest{
				color: #BD081C;
				background: #fff;
				margin-right: 5px;
			}
			.fa-twitter-square{
				color: #1DA1F2;
				margin-right: 5px;
				background: #fff;
			}
		}
		.title-footer{
			font-wight: 900;
			color: $gray-2;
			font-size: 20px;
			font-family: 'Mulish', Arial, sans-serif;
			margin: 15px;
		}
		.text-footer{
			margin: 15px 0;
		}
	}
}
#copyright{
	.copyright{
		font-family: 'Mulish', Arial, sans-serif;
		text-align: center;
		margin: 50px 0;
			&:before{
				border-bottom: 2px solid $gray;
				content: ""; /* Necesar pentru a functiona after */
		    display: block; /* Bloc*/
		    width: 100%;
		    margin-bottom: 40px;	
				}
	}
}

html{
	scroll-behavior: smooth;
}

/* ANIMATION */
@keyframes imagesOverlay{
	from{
		background: transparent;
	}

	to{
		background: rgba(0,0,0,0.2);
	}
} 

@keyframes spin{
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes mover{
  0% { transform: 
  	translateY(-45px);
  	opacity: 0.2 ;
  }
  100% { 
  	transform: translateY(0);
  	opacity: 1; 
  }
}

/*
@keyframes imagesOverlay{
	0%{background: transparent;}
	50%{background: rgba(0,0,255,0.5);}
	100%{background: rgba(0,0,0,0.2);}
} */